body{
	text-align: center;
  font-family: sans-serif;
}
#survey-form {
	background-color: #31E4BE ;
	width: 700px;
	margin: auto;
}
body {
    background-color: #ffebcc;
}
#title {
    text-align: center;
    text-shadow: 1px 1px 1px red;
}
.input-comment {
    width: 70%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.submitbutton{
  display:block;
  margin-right: auto;
  margin-left: auto;
  background-color: #f9e79f;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border-radius: 2px;
}
